body {
  margin: 0;
  background: linear-gradient(to bottom, #05070d, #080c24);
  color: white;
  font-family: "Segoe UI", sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(5,7,13,0.9);
  display: flex;
  justify-content: space-between;
  padding: 18px 60px;
}

.logo {
  font-size: 22px;
  color: #9b8cff;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

/* ABOUT SECTION */
.about {
  padding: 180px 60px;
  display: flex;
  justify-content: center;
}

.about-box {
  max-width: 750px;
  padding: 60px;
  border-radius: 16px;
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 40px rgba(0,0,0,0.4);
}

@keyframes slideUp {
  from {opacity: 0; transform: translateY(80px);}
  to {opacity: 1; transform: translateY(0);}
}

.slide-up {
  animation: slideUp 1.3s ease forwards;
}
